@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amarante&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@mixin flexCenter($justify, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
  flex-wrap: wrap;
}

* {
  scroll-behavior: smooth;
}
.toolBar {
  @include flexCenter(space-between, row);
  // color: white;
  // background-color: #1f2633;
  .girdContainer {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .mobileVersion {
    .addIcon {
      transform: rotateZ(45deg);
    }
    .MenuBar {
      @include flexCenter(center, row);
      position: relative;
      // overflow: hidden;
      z-index: 1;
      .category {
        position: absolute;
        top: 70px;
        right: 10px;
        height: 90vh;
        width: 320px;
        @include flexCenter(center, column);
        // box-shadow: 0 0 r;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1) inset;
        animation: menuBar 1s 1 linear;
        // animation-delay: 1s;
        .button {
          width: 100%;
          padding: 1.5rem;
          margin: 10px auto;
          text-align: center;
          @include flexCenter(center, row);
          //   position: fixed;
          color: white;
          &:hover {
            color: black;
            background-color: rgb(204, 204, 204);
          }
        }
      }
    }
  }
}
@keyframes menuBar {
  0% {
    width: 0px;
    // height: 0vh;
    opacity: 0;
  }
  90% {
  }
  100% {
    width: 320px;
    // height: 90vh;
    opacity: 1;
  }
}

//style for HeroSection

.heroSection {
  // color: white;
  // background-color: #1f2633;
  margin-top: 80px;
  height: 90vh;
  @include flexCenter(center, column);
  position: relative;
  // .mainHeading {
  //   @include flexCenter(center, column);
  // }
  .icons {
    // @include flexCenter(center, column);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .name {
    animation: name 1s 1 linear;
  }
  .title {
    // animation: title 1s 1 linear;
  }
}
@keyframes name {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes title {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}

//Style for About
.about {
  height: 100vh;
  margin-bottom: 10vh;
  // color: white;
  // background-color: #1f2633;
  @include flexCenter(center, column);
  .title {
    animation: title 2s 1 linear;
  }
  .description {
    animation: description 1s 1 linear;
  }
}
@keyframes title {
  0% {
    opacity: 0;
  }
  // 100% {
  //   opacity: 1;
  // }
}
@keyframes description {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

//style for Work
.projects {
  min-height: fit-content;
  margin: 5vh auto;

  .projectInfo {
    position: relative;
    .number {
      position: absolute;
      top: 5px;
      left: 5px;
    }
    .projectType {
      @include flexCenter(flex-start, row);
    }
    .info {
      .tools {
        @include flexCenter(center, row);
        margin: 10px auto;
      }
    }
  }
  .imageGallery {
    // background-color: green;
    // @include flexCenter(center, row);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    .smallImages {
      @include flexCenter(space-between, row);
      // background-color: red;
    }
  }
  .forAnimation {
    animation: hideAndShow 1s 1 linear;
  }
}
@keyframes hideAndShow {
  0% {
    background-color: #1f2633;
    color: #1f2633;
    opacity: 0;
  }
  90% {
    background-color: #1f2633;
    color: #1f2633;
  }
  100% {
  }
}

::-webkit-scrollbar {
  width: 0px;
}

//style for skills

.skills {
  min-height: 100vh;
  @include flexCenter(center, column);
  .allButtons {
    @include flexCenter(space-around, row);
  }
  .iconOfSkills {
    @include flexCenter(space-around, row);
  }
}

//style for contactSection
.contactSection {
  margin-top: 100px;
  @include flexCenter(center, column);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3) inset;
}

//style for footer

.footer {
  @include flexCenter(center, column);
  background-color: #1f2633;
  color: white;
  .goodDay {
    @include flexCenter(center, row);
  }
}

.WorkTitle {
  width: 100%;
  @include flexCenter(center, row);
}
