@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amarante&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
.toolBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.toolBar .girdContainer {
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.toolBar .mobileVersion .addIcon {
  transform: rotateZ(45deg);
}
.toolBar .mobileVersion .MenuBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
.toolBar .mobileVersion .MenuBar .category {
  position: absolute;
  top: 70px;
  right: 10px;
  height: 90vh;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1) inset;
  -webkit-animation: menuBar 1s 1 linear;
          animation: menuBar 1s 1 linear;
}
.toolBar .mobileVersion .MenuBar .category .button {
  width: 100%;
  padding: 1.5rem;
  margin: 10px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
}
.toolBar .mobileVersion .MenuBar .category .button:hover {
  color: black;
  background-color: #cccccc;
}

@-webkit-keyframes menuBar {
  0% {
    width: 0px;
    opacity: 0;
  }
  100% {
    width: 320px;
    opacity: 1;
  }
}

@keyframes menuBar {
  0% {
    width: 0px;
    opacity: 0;
  }
  100% {
    width: 320px;
    opacity: 1;
  }
}
.heroSection {
  margin-top: 80px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.heroSection .icons {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.about {
  height: 90vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.about .title {
  -webkit-animation: title 1s 1 linear;
          animation: title 1s 1 linear;
}
.about .description {
  -webkit-animation: description 1s 1 linear;
          animation: description 1s 1 linear;
}

@-webkit-keyframes title {
  0% {
    transform: scale(2, 2);
  }
}

@keyframes title {
  0% {
    transform: scale(2, 2);
  }
}
@-webkit-keyframes description {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes description {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.projects {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin: 5vh auto;
}
.projects .projectInfo {
  position: relative;
}
.projects .projectInfo .number {
  position: absolute;
  top: 5px;
  left: 5px;
}
.projects .projectInfo .projectType {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.projects .projectInfo .info .tools {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px auto;
}
.projects .imageGallery {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.projects .imageGallery .smallImages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@-webkit-keyframes hideAndShow {
  0% {
    background-color: #1f2633;
    color: #1f2633;
    opacity: 0;
  }
  90% {
    background-color: #1f2633;
    color: #1f2633;
  }
}
@keyframes hideAndShow {
  0% {
    background-color: #1f2633;
    color: #1f2633;
    opacity: 0;
  }
  90% {
    background-color: #1f2633;
    color: #1f2633;
  }
}
::-webkit-scrollbar {
  width: 0px;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.skills .allButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.skills .iconOfSkills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}/*# sourceMappingURL=style.css.map */